<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1014330151731-plagr4r3pce5kdisvr8n5cgss8dkkfqr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014330151731-plagr4r3pce5kdisvr8n5cgss8dkkfqr</string>
	<key>API_KEY</key>
	<string>AIzaSyDJcxTY_D1r10AAuJL0WC2uGIPBVT9yaes</string>
	<key>GCM_SENDER_ID</key>
	<string>1014330151731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reportIt</string>
	<key>PROJECT_ID</key>
	<string>reportit-unisa</string>
	<key>STORAGE_BUCKET</key>
	<string>reportit-unisa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014330151731:ios:39c92d64411226da86e446</string>
</dict>
</plist>